/* CSS PARA Ext.view.View */
.thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks .thumb {
    padding-bottom: 3px;
}

.thumb img{
    height: 300px;
    width: 300px;
}

.thumb-wrap{
    margin: 4px;
    margin-right: 0;
    padding: 5px;
    display: inline-block;

}
.thumb-wrap-red{
    margin: 4px;
    margin-right: 0;
    padding: 4px;
    background: #FCE4E4 repeat-x left top;
}
.thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}

.x-item-over{
    border:1px solid #dddddd;
    background: #efefef repeat-x left top;
    padding: 4px;
}

.x-item-selected{
    background: #eff5fb  no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
.x-item-selected .thumb{
    background:transparent;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}